<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Registration</title>
  </head>
  <body>
      <form action="register" method="POST">
          {% csrf_token %}

          <input type="text" name="first_name" placeholder="First Name"><br>
          <input type="text" name="last_name" placeholder="First Name"><br>
          <input type="text" name="username" placeholder="First Name"><br>
          <input type="email" name="email" placeholder="email"><br>
          <input type="password" name="password" placeholder="password"><br>
          <input type="password" name="password" placeholder="Confirm Password"><br>


      </form>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
  </body>
</html>